.selected {
  width: 10%;
  height: 10%;
  border-radius: 50%;
  behavior: url(PIE.htc); /* remove if you don't care about IE8 */
  background-color: rgba(0, 0, 255, 0.8);
  box-shadow: 0 0 1.2rem 0.7rem blue;
  border-color: blue;
}

.canDrop {
  background-color: rgba(204, 0, 204, 0.8) !important;
  box-shadow: 0 0 1.2rem 0.7rem #cc0099 !important;
  border-color: #cc0099 !important;
}

td {
  padding:0 5px 0 5px;
}

#gameArea {
  background-image: url('./imgs/Diamond_Game_mini.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.left-slide-column {
  width: 80%
}

.rotationR {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}

.rotationG {
	-webkit-transform: rotate(120deg);
	-moz-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	-o-transform: rotate(120deg);
	transform: rotate(120deg);
}

.rotationY {
	-webkit-transform: rotate(240deg);
	-moz-transform: rotate(240deg);
	-ms-transform: rotate(240deg);
	-o-transform: rotate(240deg);
	transform: rotate(240deg);
}
