.r {
  border-right: 4pt solid black;
}
.b {
  border-bottom: 4pt solid black;
}
/*
.cells:hover {
    -webkit-box-shadow: 0 0 5px blue;
       -moz-box-shadow: 0 0 5px blue;
            box-shadow: 0 0 5px blue;

    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;

    -webkit-transition: box-shadow .4s ease;
       -moz-transition: box-shadow .4s ease;
        -ms-transition: box-shadow .4s ease;
         -o-transition: box-shadow .4s ease;
            transition: box-shadow .4s ease;
}

.cells:hover {
    -webkit-box-shadow: 0 0 5px blue;
       -moz-box-shadow: 0 0 5px blue;
            box-shadow: 0 0 0 5px blue;
}
.cells:hover {
  background-color: #9b59b6;
  box-shadow: 0 0 12px #9b59b6 !important;
  border-color: #9b59b6;
}

*/


.cells {
    width: 10%;
    height: 10%;
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.cells:hover {
  background-color: blue;
  box-shadow: 0 0 12px blue !important;
  border-color: blue;
}

td {
  padding:0 5px 0 5px;
}

#gameArea {
  background-image: url('./imgs/Diamond_Game_mini.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.left-slide-column {
  width: 80%
}

.rotationR {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}

.rotationG {
	-webkit-transform: rotate(120deg);
	-moz-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	-o-transform: rotate(120deg);
	transform: rotate(120deg);
}

.rotationY {
	-webkit-transform: rotate(240deg);
	-moz-transform: rotate(240deg);
	-ms-transform: rotate(240deg);
	-o-transform: rotate(240deg);
	transform: rotate(240deg);
}
